*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card{
  width: 50vw;
  height: 250px;
  margin: 30vh;
  background-color: rgb(255, 235, 235);
  text-align: left;
  padding: 30px;
  box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.3);

 
}
.card .left{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;

}
.card .quotes{
  
  font-size: 3.8rem;
  text-align: left;
  padding-right: 15px; 
}
.card p{
  
  font-size: 1.3rem;
}
.card span{
  
  font-size: 1.3rem;
}
.card .right{
  text-align: right;
}
.card button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: rgb(255, 235, 235);
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
